/*样式定制
 * 主色调：#0078ff
 * 标题字号：55px
 * 
 */
@font-face {
	font-family: 'webapp'; project id 323567 src :
	url('../font/iconfont.eot');
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
		url('../font/iconfont.woff') format('woff'),
		url('../font/iconfont.ttf') format('truetype'),
		url('../font/iconfont.svg#webapp') format('svg');
}
/* @font-face {
  font-family: 'webapp';  project id 323567
  src: url('//at.alicdn.com/t/font_ujucpbc2ivygb9.eot');
  src: url('//at.alicdn.com/t/font_ujucpbc2ivygb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_ujucpbc2ivygb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_ujucpbc2ivygb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_ujucpbc2ivygb9.svg#webapp') format('svg');
}
 */
.webapp {
	font-family: "webapp" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ic-jilu:before {
	content: "\e659";
}

.ic-fankui:before {
	content: "\e60c";
}

.ic-ziping:before {
	content: "\e61f";
}

.ic-enter:before {
	content: "\e626";
}

.ic-back:before {
	content: "\e613";
}

.ic-refresh:before {
	content: "\e62d";
}

.ic-video:before {
	content: "\e6b2";
}

.ic-vr:before {
	content: "\e673";
}

.ic-loginout:before {
	content: "\e6dc";
}

.ic-xinli:before {
	content: "\e676";
}

.ic-help:before {
	content: "\e6a4";
}

.ic-more:before {
	content: "\e611";
}

.ic-setting:before {
	content: "\e610";
}

.nav-xinli:before {
	content: "\e78c";
}

.nav-course:before {
	content: "\e632";
}

.nav-record:before {
	content: "\e620";
}

.nav-setting:before {
	content: "\e610";
}
/* 主屏图标 */
.mn-speech:before {
	content: "\e756";
}

.mn-common:before {
	content: "\e622";
}

.mn-exam:before {
	content: "\e605";
}

.mn-social:before {
	content: "\e604";
}

.mn-plane:before {
	content: "\e69f";
}

.mn-dog:before {
	content: "\e73f";
}

.mn-spider:before {
	content: "\e606";
}

.mn-zhanglang:before {
	content: "\e603";
}

body {
	backgorund: #eee;
}

.mgt-10 {
	margin-top: 10px;
}

.mgt-15 {
	margin-top: 15px;;
}

.mgt-20 {
	margin-top: 20px;
}

.mgr-20 {
	margin-right: 20px;;
}

.block {
	display: block !important;
}

.mgb-not {
	margin-bottom: 0 !important;
}
/* 底部栏美化 */
.app-son {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.app-son .btn {
	background-color: transparent;
	color: #B3ABAB;
}

.app-son .btn.active {
	color: #0078ff;
}

.app-title-ctner {
	background: linear-gradient(-300deg, #0095f9, #01b7ff);
	text-align: center;
	z-index: 50;
	color: #fff !important;
	border: 0 !important;
}

.app-title-ctner .x-titlebar-title {
	font-size: 18px;
	font-weight: normal !important;
	color: #fff !important;
}

.app-title-ctner .webapp {
	font-size: 24px;
	margin-top: 2px;
}

.app-list li {
	background-color: #fff;
	border: 0;
	border-bottom: 1px solid #ededed;
	font-size: 16px;
	line-height: 1.5em;
	padding: 10px 0;
	margin: 0;
}

.app-list li:last-child {
	border-bottom: 0;
}

.app-list li .webapp {
	font-size: 25px;
	position: relative;
	top: 2px;
}

.app-list li .ic-video {
	position: relative;
	top: 1px;
}

.app-list li .text-panel {
	position: relative;
	top: 2px;
}

/* 首屏心里问题样式 */
.type-bar .text-black {
	padding: 5px !important;
	font-size: 14px !important;
	margin-top: 23px !important;
}

.main-icon {
	width: 45px;
	height: 45px;
	background-color: #f00;
	margin: 0 auto;
	border-radius: 100px;
	text-align: center;
	line-height: 45px;
}

.main-icon .webapp {
	color: #fff;
	font-size: 25px;
}

.f-fr {
	float: right;
}

.tac {
	text-align: center;
}

.x-panel-content {
	background-color: #f5f5f5 !important;
}

.section-card {
	/* background-color: #fff !important; */
}

.section-normal {
	padding: 15px;
}

.user-card {
	padding: 15px;
}

.timer-more {
	position: relative;
	top: -1px !important;
}

.btn-card {
	padding: 15px;
	background-color: #f5f5f5;
	height: 70px !important;
}

.content-detail {
	padding: 15px;
	line-height: 1.5em;
	font-size: 14px;
}

.content-detail textarea {
	display: block;
	background-color: #fff !important;
	line-height: 1.5em;
	border: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	padding: 0 !important;
}

.symbol-card {
	position: relative;
	z-index: 3;
}

.user-card .user-head {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 6px rgba(0, 120, 255, .3);
}

.user-card .media-body {
	position: relative;
	top: 8px;
}

.section-card .app-list li {
	background-color: #fff;
	padding: 10px 15px;
}

.app-list.scence-list li {
	padding-left: 0;
	padding-right: 0;
}

.app-list.scence-list li .val-selector {
	margin-top: 10px;
}

.course-list.app-list li {
	padding-bottom: 4px;
}

.input-card * {
	font-size: 14px !important;
}

.content-detail textarea,.content-detail input {
	font-size: 16px;
}

.content-detail .header {
	margin-top: 2em;
	margin-bottom: 2em;
}

.content-detail .paragraph {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-indent: 2em;
}

.content-detail .tb-bottom-line {
	margin-top: -1em;
	margin-bottom: 1em;
}

.symbol-card .symbol-img {
	display: block;
	width: 100% !important;
	max-heigth: 400px;
	overflow: hidden;
}

.symbol-card .symbol-info {
	position: absolute;
	z-index: 5;
	top: 10px;
	left: 20px;
	right: 20px;
}

.biologyFdback .center-pull {
	z-index: 0;
}

.stard-title {
	font-size: 22px !important;
	color: #000;
}

.main-title {
	font-size: 16px !important;
	color: #333;
	font-weight: normal;
}

.sub-title {
	font-size: 14px;
	color: #666;
	font-weight: normal;
}

.lab-title {
	font-size: 12px;
	color: #999;
}

.strss-text {
	font-size: 20px;
	font-style: italic;
}

.sub-title label {
	left: 2em !important;
}

.sub-title label:before {
	margin-left: -2em !important;
	top: -1px;
}

.score-big {
	font-size: 60px;
	color: #0078ff;
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;;
	text-shadow: 5px 5px 10px #1a99e2;
}

.flex-list {
	display: flex;
	justify-content: space-between;
}

.flex-item {
	flex-grow: 1;
	padding-right: 15px;
}

.flex-item:last-child {
	padding-right: 0;
}

.v-middle {
	transform: translateY(80%);
	font-size: 25px !important;
}

.f-smaller {
	font-size: 50% !important;
	margin-left: -0.5em;
}

.warn-txt {
	color: #dd5600;
}

.safe-txt {
	color: #73a839;
}

video {
	display: block;
	width: 100%;
}

.wel-carousel .carousel-indicators {
	bottom: 20px;
	padding: 3px 5px;
}

.wel-carousel .item,.wel-carousel .item img {
	display: block;
	height: 100%;
}

.button {
	display: block;
	width: 100%;
	font-zise: 16px;
	color: #fff !important;
	padding: 8px 12px !important;
	background-color: #0078ff;
}

.button * {
	font-size: 16px !important;
}

.x-panel-bottom {
	border: 0 !important;
}

.wel-carousel .item {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1;
}

.wel-carousel .carousel-inner {
	position: absolute !important;
	height: 100vh;
}

.wel-carousel .carousel-indicators li {
	border: 1px solid #0078ff;
	margin: 0 4px;
}

.wel-carousel .carousel-indicators .active {
	background-color: #0078ff;
	width: 10px;
	height: 10px;
}

.wel-pass {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 20;
	font-size: 20px;
	color: #bbb;
}

.item-btn {
	position: relative;
	top: 11px;
}

.btn-warning {
	background-color: rgba(211, 0, 0, .71);
}

.btn-warning:hover {
	background-color: rgba(211, 0, 0, .95);
}

.content-btn-group.btn-group,.content-btn-group.btn-group .btn {
	border: 0 !important;
	border-bottom: 2px solid transparent !important;
	color: #666 !important;
}

.content-btn-group.btn-group .btn {
	padding-bottom: 6px !important;
}

.content-btn-group.btn-group {
	border-bottom: 1px solid #cdcdcd !important;
}

.content-btn-group.btn-group .btn.active {
	background: #0078ff !important;
	color: #fff !important;
}

.center-elem {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%) !important;
}

.play-ctner {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	border: 1px solid #0e80e5;
	text-align: center;
}

.main-view {
	/* margin-top: 40px; */
	padding-bottom: 20px;
}

.main-view .sub-title {
	font-size: 12px;
	margin-top: 12px;
	color: #333;
	/* letter-spacing: -1px; */
}

.play-btn {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-color: #0e80e5;
	display: inline-block;
	margin-top: 25px;
	color: #fff;
	line-height: 200px;
	font-size: 18px;
	opacity: .8;
	-webkit-animtion: playing .8s infinite;
	-moz-animtion: playing .8s infinite;
	-o-animtion: playing .8s infinite;
	animtion: playing .8s infinite;
}

@
-webkit-keyframes playing { 0%{
	tranform: scale(1);
	opacity: .9;
}

50%{
tranform
:
 
scale
(1
.2
);

		
opacity
:
 
.5
;

	
}
100%{
tranform
:
 
scale
(1
.2
);

		
opacity
:
 
.9
;

	
}
}
.center-block canvas {
	position: static !important;
}

.question-list .list-group-item .x-radio {
	width: 100%;
}

.question-list .list-group-item label {
	width: 100%;
}

.content-detail.x-contents-content {
	max-height: 420px;
	overflow-x: hidden;
	overflow: auto;
}

.progress {
	position: relative;
}

.progressCtner {
	position: absolute;
	left: 5px;
	top: 3px;
}
/* 2017-7-27 ws */
/* 登录页面 */
.login_panel .login-bg {
	background-color: #fff !important;
}

.login_header {
	height: 30vh;
	background: #2a90f4;
	position: relative;
	z-index: 1;
}

.login_header .image-wall {
	display: block;
	width: 200px;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.loginer {
	position: relative;
	top: 35vh;
}
/* old */
.loginer {
	width: 80%;
	margin: 0 auto 0;
}

.login-ctner {
	box-shadow: none;
	color: #fff;
}

.login-ctner input,.login-ctner input:focus {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #dcdde1;
	box-shadow: none !important;
	padding-left: 25px;
	color: #1c1c1c;
	font-size: 18px;
	position: relative;
	top: 3px;
}
/* .login-ctner *{
	background-color: transparent!important;
	color: #1c1c1c!important;
} */
.login-ctner .input-group {
	position: relative;
	width: 100%;
}

.login-ctner .list-group-item {
	border: none;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

.login-ctner .input-icon {
	position: absolute;
	left: -4px;
	border: 0;
	z-index: 10;
	-webkit-background-size: auto 60% !important;
	background-size: auto 60% !important;
}

.login-ctner .input-icon i {
	visibility: hidden;
}

.login-ctner .input-icon.phone {
	background: url('../img/phone.png') no-repeat center bottom;
}

.login-ctner .input-icon.code {
	background: url('../img/code.png') no-repeat center bottom;
}

.login-ctner .button {
	border: 0 !important;
	color: #2a90f2 !important;
	border-radius: 5px !important;
	font-size: 12px;
	display: inline-block !important;
	width: 30%;
	margin-top: 3px;
	background-color: rgba(255, 255, 255, 0.3) !important;
	position: absolute;
	z-index: 10;
	top: 3px;
	right: -16px;
}

.login-ctner ::-webkit-input-placeholder { /* WebKit browsers */
	color: #fff;
}

.login-ctner :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #fff;
}

.login-ctner ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #fff;
}

.login-ctner :-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #fff;
}
/* old end */
/* 首页列表 */
.i-setting-img {
	width: 48px;
	height: 48px;
	background: url('../img/setting.png') no-repeat center center;
	-webkit-background-size: 50% 50%;
	background-size: 50% 50%;
}

.flex-layout {
	display: flex;
}

.visitors_list .x-panel-content {
	background-color: #f5f5f5 !important;
}

.user-list {
	background-color: #f5f5f5;
	padding: 0 30px;
}

.user-item {
	border: 1px solid #e7e7e7;
	border-radius: 8px;
	padding: 10px 20px;
	background-color: #fff;
	margin: 20px 0;
	color: #3e4357;
	text-align: center;
}

.boy {
	color: #0596ff !important;
}

.girl {
	color: #fc4281 !important;
}

.search_bar {
	height: 55px;
	background-color: #e3e6ed;
	padding: 10px 30px;
	position: relative;
	z-index: 1;
	padding-right: 70px;
}

.search_bar input {
	border-radius: 6px;
	background-color: #fff;
	border: 0;
	height: 2.5em;
	line-height: 2.5em;
	padding: 0 10px;
	font-size: 14px;
	display: block;
	width: 100%;
}

.search_bar .visitor-add {
	position: absolute;
	right: 20px;
	top: 10px;
	width: 30px;
	height: 30px;
	background: url('../img/add.png') no-repeat center center;
	-webkit-background-size: 50% 50%;
	background-size: 20px 20px;
	text-indent: -9999px;
}

.search_bar .visitor-add.rotate {
	transform: rotate(45deg);
}

.visitors_list.x-scroll {
	top: 53px !important;
}

.main-container {
	padding: 0 20px;
	position: absolute;
	z-index: 3;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}

.main-container.type_middle {
	top: 110px;
}

.card_user {
	background-color: #fff;
	padding: 15px;
}

.card_user .avator-ctner {
	position: relative;
	z-index: 3;
}

.card_user .avator-ctner .sex {
	position: absolute;
	right: 10px;
	bottom: 5px;
	width: 20px;
	height: 20px;
	-webkit-background-size: contain !important;
	background-size: contain !important;
}

.card_user .avator-ctner .sex.boy {
	background: url('../img/i-boy.png') no-repeat center center;
}

.card_user .avator-ctner .sex.girl {
	background: url('../img/i-girl.png') no-repeat center center;
}

.card_user .avator {
	border: 2px solid #d5d5d5;
	border-radius: 50%;
	width: 78px;
	height: 78px;
	overflow: hidden;
}

.card_user .avator img {
	display: block;
	width: 100%;
}

.card_user .b-relax-oneR {
	margin-left: 20px;
}

.card_user .user_name {
	font-size: 16px;
	color: #3f4256;
	font-weight: bold;
	margin-bottom: 10px;
}

.card_user .user_info {
	color: #747682;
}

.card_user .user_info *:first-child {
	margin-right: 15px;
}

.center-pull {
	top: 105px !important;
	left: 20px;
	right: 20px;
	width: auto !important;
}

.title_bar {
	font-size: 16px;
	color: #3f4256;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 1em;
	position: relative;
	z-index: 3;
	background-color: #f5f5f5;
}

.title_bar:before {
	content: ' ';
	display: block;
	width: .5em;
	height: 1.1em;
	background-color: #2c90f4;
	position: absolute;
	top: 22px;
	left: 0;
}

.new_listItem {
	border: 1px solid #e7e7e7;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	padding: 12px 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 10px;
	text-align: center;
	color: #3f4256;
}

.new_listItem.list_head {
	font-weight: bold;
}

.main_padding {
	padding: 20px 10px;
}
/*放松练习*/
.ratio-section {
	/*按照2:1比例定;*/
	background-color: #f0f0f0;
	padding-bottom: 37.83%;
	width: 100%;
	height: 0;
	position: relative;
	z-index: 1;
}

.ratio-section .inner-content {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.list_list_list {
	display: flex; display : -ms-flex; display : -webkit-flex;
	flex-wrap: wrap;
	padding-bottom: 70px;
	display: -ms-flex;
	display: -webkit-flex;
}

.list_list_list a {
	padding: 20px;
	margin: 3%;
	font-size: 16px;
	background: linear-gradient(-100deg, #2984ff, #16a6ff);
	opacity: .8;
	border: 0;
	display: block;
	width: 27%;
}
.btn-default,
.btn-default:hover{
	border-radius: 100px!important;
	padding: 10px 0;
	font-size: 16px;
	background: linear-gradient(-100deg, #2984ff, #16a6ff);
	box-shadow: 0 5px 10px rgba(22, 166, 255, .4);
	color: #fff!important;
	border-color: transparent;
}
/* 2017-7-27 ws end */
.cb {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.clearfix::after {
	clear: both;
	display: block;s
	content: '';
	visibility: hidden;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.w-relax-one {
	width: 90%;
	display: inline-block;
}

.b-relax-box {
	padding-top: 35px;
	text-align: center;
}

.b-relax-oneL img {
	width: 80%;
}

.b-relax-oneR {
	width: 80%;
	padding-top: 15px;
}
/*.b-relax-oneR li{
	float:left;
	width:33.3333333%
}*/
.b-relax-oneL img {
	width: 60px;
}

.b-relax-one {
	margin-left: 10px;
}

.b-relax-one h3 {
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	padding: 6px 0;
	color: #000;
	margin: 0;
}

.b-relax-one span {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	color: #8b8e93;
}

.b-relax-two {
	width: 90%;
	display: inline-block;
}

.b-relax-two li {
	float: left;
	width: 33.333333%
}

.b-relax-thr {
	border-radius: 10px;
}

.b-relax-thr .panel-heading {
	border: none;
}

.b-relax-thr li {
	padding: 10px;
}

.b-relax-border {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.b-relax-thrA img {
	width: 25px;
	height: 25px;
}

.b-relax-thrA span {
	display: inline-block;
	line-height: 25px;
	margin-left: 10px;
}

.b-psy-one {
	text-align: center;
	background: #fdecb8;
}

.b-psy-oneA {
	display: inline-block;
	padding: 10px 0;
}

.b-psy-oneA img {
	height: 20px;
}

.b-psy-oneA span {
	line-height: 30px;
	color: #973f27;
	font-size: 16px;
	display: inline-block;
}

.b-psy-two {
	margin: 20px 10px;
}

.b-psy-two .b-psy-twoA {
	float: left;
	width: 23%;
	margin: 0 1%;
}

.b-psy-twoA img,.b-psy-twoB img,.b-psy-twoC img,.b-psy-twoD img {
	width: 100%;
	border-radius: 5px;
}

.b-psy-twoA span {
	
}

.b-psy-thr {
	margin: 10px 10px 15px 10px;
}

.b-psy-thr li {
	float: left;
	width: 48%;
	text-align: left;
	background: #f8f8f8;
	padding: 2% 1%;
	margin: 0 1%;
	border-radius: 5px;
}

.b-psy-thr li.type_relax {
	border: 1px solid #84d000;
}

.b-psy-thr li.type_anxious {
	border: 1px solid #735bff;
}

.b-psy-thr li.type_fear {
	border: 1px solid #f13b54;
}

.b-psy-thr li.type_trauma {
	border: 1px solid #ffb026;
}

.b-psy-thr li img {
	width: 45px;
	float: left;
	border-radius: 50%;
}

.b-psy-thr li span {
	display: block;
	text-align: center;
	line-height: 45px;
	margin-left: 5px;
	float: left;
	font-size: 12px;
}

.b-visitor-two span {
	line-height: 30px;
	text-align: center;
	display: inline-block;
}

.b-visiter-thrSpan {
	display: block;
	text-align: center;
}

.b-back-btn {
	text-align: center;
	margin-top: 55px;
}

.b-visiter-btn {
	text-align: center;
	margin-top: 55px;
}

.b-visiter-btnTJ {
	width: 50%;
}

.b-user-one {
	margin-top: 20px;
	position: relative;
}

.b-user-oneA {
	width: 65px;
	position: absolute;
	left: 0;
	top: 0;
}

.b-user-oneA img {
	width: 100%;
	border-radius: 50%;
}

.b-user-two {
	margin-left: 70px;
}

.b-user-twoA {
	padding-top: 10px;
}

.b-user-twoA img {
	height: 18px;
	width: 18px;
	margin-left: 2px;
}

.b-user-twoA span {
	line-height: 18px;
	font-size: 14px;
	color: #94949e;
	padding: 0 4px;
}

.b-user-twoA input {
	width: 75px;
	border-bottom-width: 1px;
	border-bottom-color: #C0C0C0;
	border-style: none none solid none;
	background-color: transparent;
	outline: none;
}

.b-user-twoA .b-user-twoInput {
	width: 30px;
}

.b-user-twoC {
	margin-bottom: 10px;
}

.b-user-twoB input {
	width: 90px;
}

.b-user-twoC input {
	width: 70%;
}

.b-user-topBox {
	border-radius: 5px;
	background: #fff;
	padding: 5px;
	margin: 10px;
}

.b-user-thr {
	margin: 20px 10px;
	text-align: center;
}

.b-user-thrButton {
	width: 80%;
}


.b-user-twoA img{
	height:18px;
	width:18px;
	margin-left:2px;
}
.b-user-twoA span{
	line-height:18px;
	font-size:14px;
	color:#94949e;
	padding:0 4px;
}
.b-user-twoA input{
	width:75px;border-bottom-width:1px;border-bottom-color:#C0C0C0;border-style:none none solid none;background-color:transparent;outline:none;
}

.b-user-twoA .b-user-twoInput{
	width:30px;
}
.b-user-twoC{
	margin-bottom:10px;
}
.b-user-twoB input{
	width:90px;
}
.b-user-twoC input{
	width:70%;
}
.b-user-topBox{
	border-radius:5px;
	background:#fff;
	padding:5px;
	margin:10px;
}
.b-user-thr{
   margin:20px 10px;
   text-align:center;
}
.b-user-thrButton{
	width:80%;
}
.b-user-fourA{
	margin:20px 0 15px 0;
}
.b-user-fourA span{
	display:inline-block;
	width:8px;
	height:20px;
	background:#3192f1;
}
.b-user-fourA h3{
	font-size:16px;
	line-height:20px;
	margin:0 0 0 10px;
	color:#000;
	font-weight:bold;
}
.b-user-fourB{
	border-radius:5px;
	border:1px solid #999;
	background:#fff;
	padding:5px;
	width:100%;
}
.panel-heading{
	padding:0;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
}
.panel-default>.panel-heading{
	background:#fff;
}
.panel{
	margin-bottom:0;
	box-shadow:none;
}
.panel-group{
	margin-bottom:0;
}
.b-assess-oneA{
	border:none;
	border-bottom:1px solid #eee;
	line-height:60px;
	padding:0;
	background:#fff;
	color:#333;
	margin-bottom:10px;
}
.b-assess-oneA.finished{
	border:none;
	line-height:60px;
	background:#2a90f4;
	color:#fff;
}
.b-exam-one{
	position:relative;
}
.b-exam-one img.b-exam-oneB{
	width:100%;
	display:inline-block;
}
.b-exam-oneA{
	margin:0 4%;
	width:92%;
	text-align:center;
	background:#fff;
	border-radius:5px;
	position:relative;
	bottom:20px;
}
.b-exam-oneA span{
	line-height:18px;
	font-size:14px;
	color:#19a1ff;
}
.b-exam-oneA img{
	width:15px;
	margin-left:10px;
}
.b-exam-top{
	margin-top:15px;
}
.b-exam-two{
	padding:20px 0;
	margin-bottom:14px;
	padding-top: 0!important;
}
.b-exam-BG{
	background:url(../img/exam_4.png) center top no-repeat;
	background-size:100% 100%;
	margin:0 4%;
}

.b-user-fourA {
	margin: 20px 0 15px 0;
}

.b-user-fourA span {
	display: inline-block;
	width: 8px;
	height: 20px;
	background: #3192f1;
}

.b-user-fourA h3 {
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 0 10px;
	color: #000;
	font-weight: bold;
}

.b-user-fourB {
	border-radius: 5px;
	border: 1px solid #999;
	background: #fff;
	padding: 5px;
	width: 100%;
}

.panel-heading {
	padding: 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.panel-default>.panel-heading {
	background: #fff;
}

.panel {
	margin-bottom: 0;
	box-shadow: none;
}
.panel-group {
	margin-bottom: 0;
}

.zplb_ctner{
	display: flex; display : -ms-flex; display : -webkit-flex;
	flex-wrap: wrap;
}
.zplb_ctner .zplb_item{
	width: 50%;
	position: relative;
	z-index: 1;
	margin-bottom: 10px;
}
.zplb_ctner .zplb_item .b-assess-oneA{
	border: none;
	line-height: 60px;
	background: #fff;
	color: #333;
	margin: 10px;
	border-radius: 6px;
}
.zplb_ctner .zplb_item .b-access-number {
	position: absolute;
	top: 0;
	right: 0;
	background: #ff4081;
	width: 20px;
	height: 20px;
	z-index: 1001;
	color: #fff;
	line-height: 20px;
	border-radius: 5px;
	text-align: center;
	display: none;
}
.zplb_ctner .zplb_item .access-result{
	color: #2c90f4;
	line-height: 1em;
	display: none;
}
.zplb_ctner .zplb_item.finished .b-assess-oneA{
	border: none;
	line-height: 60px;
	background: #2a90f4;
	color: #fff;
}
.zplb_ctner .zplb_item.finished .b-access-number,
.zplb_ctner .zplb_item.finished .access-result{
	display: block;
}
.b-assess-oneA {
	border: none;
	border-bottom: 1px solid #eee;
	line-height: 60px;
	padding: 0;
	background: #fff;
	color: #333;
	margin-bottom: 10px;
}
.b-exam-thrB{
	width:20px;
}
.b-exam-one {
	position: relative;
}

.b-exam-one img.b-exam-oneB {
	width: 100%;
	display: inline-block;
}

.b-exam-oneA {
	margin: 0 4%;
	width: 92%;
	text-align: center;
	background: #fff;
	border-radius: 5px;
	position: relative;
	bottom: 20px;
}

.b-exam-oneA span {
	line-height: 18px;
	font-size: 14px;
	color: #19a1ff;
}

.b-exam-oneA img {
	width: 15px;
	margin-left: 10px;
}

.b-exam-top {
	margin-top: 15px;
}

.b-exam-two {
	padding: 20px 0;
	margin-bottom: 14px;
	padding-top: 0 !important;
}

.b-exam-BG {
	background: url(../img/exam_4.png) center top no-repeat;
	background-size: 100% 100%;
	margin: 0 4%;
}

.b-exam-two li .tab-btn {
	padding: 0;
}

.b-exam-two .b-exam-twoA {
	color: #19a0ff;
}

.b-exam-two .b-exam-twoC {
	border-right: none;
}

.b-exam-thr li {
	font-size: 14px;
	color: #333;
	padding: 20px 10%;
}

.b-exam-thrA {
	margin-top: 20px;
}

.b-exam-thrB {
	width: 20px;
}

.b-exam-four {
	width: 92%;
	margin: 0 4%;
	padding-top: 20px;
}

.b-exam-fourA {
	width: 80%;
	text-align: center;
	background: #fff;
	border-radius: 5px;
}

.b-exam-fourA span {
	line-height: 18px;
	font-size: 14px;
	color: #19a1ff;
}

.b-exam-fourA img {
	width: 15px;
	margin-left: 10px;
}

.b-exam-five {
	text-align: center;
	margin: 20px 15px 0 0;
}

.b-exam-five img {
	width: 20px;
	margin-right: 10px;
}

.b-exam-five span {
	line-height: 24px;
	font-size: 14px;
}

.b-breath-oneA {
	margin: 0 4%;
	width: 92%;
	text-align: center;
	padding: 10px 0;
	position: relative;
	bottom: 40px;
}

.b-breath-two {
	padding: 10px 0 10px 0;
	margin: 0;
}

.b-breath-BG {
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #ececed;
	box-shadow: 0 0 10px rgba(255, 255, 255, .5);
	margin: 0 4%;
}

.b-breath-BG .nav-tabs {
	border-bottom: 1px dashed #e5eafb;
}

.b-breath-two li {
	float: left;
    width: 25%;
    font-size: 12px;
    color: #333;
    text-align: center;
    border-right: 1px solid #e3e3e3;
    position: relative;
}
.b-breath-two li:last-child{
	border-right: 0!important;
}
.b-breath-two li .tab-btn,
.b-breath-two li .tab-btn：hover{
	font-size: 12px;
	color: #333;
	text-align: center;
	border-right: 1px solid #e3e3e3;
	position: relative;
}

.b-breath-two li:last-child {
	border-right: 0 !important;
}

.b-breath-two li .tab-btn,.b-breath-two li .tab-btn：hover {
	padding: 0;
	border: 0 !important;
	color: #3f4256;
}

.b-breath-two li.active .tab-btn {
	color: #2c90f4;
}

.b-breath-two li img {
	height: 20px;
}

.b-breath-two li span {
	display: block;
	text-align: center;
	line-height: 28px;
}

.b-breath-two .b-exam-twoA {
	color: #19a0ff;
}

.b-breath-two .b-breath-twoC {
	border-right: none;
}

/*abcdefg*/
.tab-title-three li {
	width: 33.333%;
}
/*abcdefg*/
.b-breath-thrA img {
	width: 30px;
	border-radius: 50%;
	margin-right: 5px;
}

.b-breath-thrA span {
	line-height: 30px;
	color: #333;
	font-size: 14px;
}

.b-breath-thr {
	margin-bottom: 0 !important;
}
.b-breath-thr li{
	font-size:14px;
    color: #333;
    padding: 10px 20px;
    border-bottom: 1px dashed #e5eafb;
    position: relative;
    height: 55px;
}

.b-breath-thr li {
	font-size: 14px;
	color: #333;
	padding: 10px 20px;
	border-bottom: 1px dashed #e5eafb;
	position: relative;
	height: 55px;
}

.b-breath-thr li:last-child {
	border: 0;
}

.b-breath-thr li:first-child:before {
	top: -4px;
}

.b-breath-thr li:before {
	content: ' ';
	width: 15px;
	height: 8px;
	background-color: #f0f1f3;
	position: absolute;
	border: 1px solid #e8e8e8;
	border-radius: 10px;
	top: -8px;
	left: -8px;
}

.b-breath-thr li:after {
	content: ' ';
	width: 15px;
	height: 8px;
	background-color: #f0f1f3;
	position: absolute;
	border: 1px solid #e8e8e8;
	border-radius: 10px;
	top: -4px;
	right: -8px;
	visibility: visible;
}

.b-breath-thr li:nth-of-type(2),.b-breath-thr li:nth-of-type(3) {
	margin-top: 3px;
}

.b-breath-thr li input[type="radio"],input[type="checkbox"] {
	margin-top: 12px;
	display: inline-block;
}

.b-exam-two li {
	float: left;
    /*width: 20%!important;*/
    font-size: 12px;
    color: #333;
    margin-top:10px;
    text-align: center;
    border-right: 1px solid #999;
}
.b-modify-one{
	width:75%;
	margin-top:20px;
	display:inline-block;
}
.b-modify-one input{
	width:100%;
	line-height:36px;
	background:transparent;
	border-radius:15px;
	height:36px;
	border:1px solid #999;
	font-size:14px;
	padding:0 5px;
	font-size: 12px;
	color: #333;
	margin-top: 10px;
	text-align: center;
	border-right: 1px solid #999;
}

.b-modify-one {
	width: 75%;
	margin-top: 20px;
	display: inline-block;
}

.b-modify-one input {
	width: 100%;
	line-height: 36px;
	background: transparent;
	border-radius: 15px;
	height: 36px;
	border: 1px solid #999;
	font-size: 14px;
	padding: 0 1em;
}

.b-set-one li {
	border-bottom: 1px solid #999;
	padding: 10px;
}

.checkboxTwo input[type=checkbox] {
	visibility: hidden;
}

.checkboxTwo {
	width: 55px;
	height: 30px;
	background: #19a0ff;
	/* margin: 20px 60px; */
	margin-top: 4px;
	border-radius: 50px;
	position: relative;
}

.checkboxTwo:before {
	content: '';
	position: absolute;
	top: 19px;
	left: 14px;
	height: 2px;
	width: 90px;
}

.checkboxTwo label {
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 6px;
	z-index: 1;
	left: 12px;
	background: #fff;
}

.checkboxTwo input[type=checkbox]:checked+label {
	left: 25px;
	background: #26ca28;
}
.b-demo-label input[type=radio] {
	visibility: hidden;
}

.b-demo-radioInput{background-color:#fff;border:1px solid rgba(0,0,0,0.15);border-radius:100%;display:inline-block;height:16px;margin-right:10px;margin-top:-1px;vertical-align:middle;width:16px;line-height:1;}
.b-demo-radio:checked + .b-demo-radioInput:after{background-color:#1a9eff;border-radius:100%;content:"";display:inline-block;height:16px;width:16px;border:0;}






.b-assess-popup {
	text-align: left;
}

.b-assess-popup span {
	display: block;
	color: #2c90f4;
}

.b-bindVRView-cont span {
	display: block;
	text-align: center;
	color: #999;
	font-size: 14px;
}
.b-dis-box{
	padding:10px;
}
.b-dis-box h3{
	line-height:30px;
	padding:10px;
	color:#666;
	font-size:16px;
	text-align:center;
	font-weight:bold;
}
.b-dis-box p{
	padding-bottom:10px;
	line-height:24px;
	color:#999;
	font-size:12px;
	text-indent:28px;
}
.b-dis-box .b-dis-one p{
	display:inline-block;
	padding:0;
	margin:0;
}
.b-dis-box span{
	line-height:24px;
	color:#666;
	font-size:14px;
	text-indent:28px;
	font-weight:bold;
}
.b-hide {
	display: none;
}

.b-show {
	display: block;
}